{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "react-app",
      "react-app/jest"
    ],
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "rules": {
        "no-restricted-globals": [
          "error",
          {
            "name": "self",
            "message": "Avoid using 'self'. Use 'window' or 'globalThis' instead."
          }
        ]
    }
  }
  